.newscontent{
    margin-top: 6rem;
    /* position: relative; */
    /* z-index: -1; */
}
.newscontent .content img{
    /* border: 2px solid red; */
    /* margin: 0 6rem 0 6rem; */
    padding: 3rem;
}
.newscontent h1{
    text-decoration: underline;
    text-decoration-color: blue;
}

.downloadnewsletter a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.downloadnewsletter{
    background-color: aqua;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.downloadnewsletter:hover{
    background-color: aquamarine;
}