#domainContentId{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.domainContent{
    padding-top: 6rem;
    margin: 0;
    overflow: hidden;
}
.domainContent h1{
    text-decoration: underline;
    text-decoration-color: #3702c0;
}
.memberImage{
    width: 15rem;
    height: 15rem;
    /* border-radius: 2rem; */
}
.memberImage:hover{
    transition: .7s ease-in-out;
    transform:scale(.97);
}
.domainContent .domainMember h1{
    font-size: 1rem;
    text-decoration: none;
}
.domainMember {
    display: grid;
    grid-template-columns: 15rem 15rem 15rem 15rem 15rem;
    grid-gap: 10px; 
}
.particularContainer{
  background-color: rgb(50, 243, 198);
    width: fit-content;
    margin: .8rem 0;
    /* position: relative; */
    /* z-index: -1; */
}
@media screen and (max-width:1200px) {
    .domainMember {
        display: grid;
        grid-template-columns: 15rem 15rem 15rem 15rem;
        grid-gap: 10px; 
    }
}
@media screen and (max-width:900px) {
    .domainMember {
        display: grid;
        grid-template-columns: 15rem 15rem 15rem;
        grid-gap: 10px; 
    }
}
@media screen and (max-width:700px) {
    .domainMember {
        display: grid;
        grid-template-columns: 15rem 15rem;
        grid-gap: 3px; 
    }
    .memberImage{
        width: 12rem; 
        height: 12rem;
    }
}
@media screen and (max-width:500px) {
    .domainMember {
        display: grid;
        grid-template-columns: 15rem;
        grid-gap: 3px; 
    }
    .memberImage{
        width: 16rem; 
        height: 16rem;
    }

}